<h1 class="mt-4">Dashboard</h1>

<div>
    <a href="/users/logout" class="btn btn-primary">Logout</a>
</div>
<br>
<br>
<div>
    <table class="table table-hover">
        <thead>
          <tr class="table-info">
            <th scope="col">ID</th>
            <th scope="col">Employee_Name</th>
            <th scope="col">email</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <% count = 1 %> 
            <% details.forEach(details => { %>
                 
                <tr class="table-light">
                    <td><%= count %> </td>
                    <td><%= details.user_name %> </td>
                    <td><%= details.email %> </td>
                    <td><a class="btn btn-primary" href="/dashboard/<%= details.id %> ">Edit</a></td>
                    <td><a id="delete" class="btn btn-primary" data-doc="<%= details.email %> ">Delete</a></td>
                  </tr>
                <% count++ %>   
            <% }) %> 
          
          
        </tbody>
      </table>
</div>

<script>
    $(document).ready(function(){
      $('#delete').click(function() {
        $(this).parent().parent().remove()
        
        
        
        })
  
      })
      const trashcan = document.querySelector('#delete');
    

        trashcan.addEventListener('click', (e) => {
            const endpoint = `/dashboard/${trashcan.dataset.doc}`;
          alert(endpoint);
            // we need to use this because we want the delete request to be send once the delete button has been clicked 
            // so for that we need to use the frontend javascript 
            // and for that fetch is to used.
            fetch(endpoint, {
                method: 'DELETE'
            })
            .then((response) => response.json()) // convertion of json data to actual javascript object
            .then((data) => console.log('success'))
            .catch(err => console.log(err));
        })
    

    

    
</script>