<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
       
         <%- include('./partials/messages')  %>  
        <form action="/dashboard/<%= details.id %> " method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= details.user_name %>"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= details.email %>"
            />
          </div>
         
          
          <button type="submit" class="btn btn-primary btn-block">
            Edit
          </button>

          <a id = 'delete' class="delete btn btn-primary btn-block" data-doc="<%= details.id %> ">delete<a>
        </form>
      </div>
    </div>
  </div>

  <script>
      const trashcan = document.querySelector('#delete');
    

        trashcan.addEventListener('click', (e) => {
            const endpoint = `/dashboard/${trashcan.dataset.doc}`;

            // we need to use this because we want the delete request to be send once the delete button has been clicked 
            // so for that we need to use the frontend javascript 
            // and for that fetch is to used.
            fetch(endpoint, {
                method: 'DELETE'
            })
            .then((response) => response.json()) // convertion of json data to actual javascript object
            .then((data) => window.location.href= data.redirect)
            .catch(err => console.log(err));
        })
  </script>